/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@400;700&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

/* Defaulting the css styles of all content */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* Base content control */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic font styles */
    font-family: 'lato', sans-serif;
    color: #3a3a3a;
}

/* Header */
header {
    background-color: pink;
}

/* Main Contenet */
main {
    background-color: green;
    flex: 1 0 auto
}

/* Footer */
footer {
    background-color: blue;
}