/* Defaulting the css styles of all content */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a
}

/* Header */
header {
    background-color: pink;
}

/* Main Contenet */
main {
    background-color: green;
    flex: 1 0 auto
}

/* Footer */
footer {
    background-color: blue;
}